.places__paragraph{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    padding: 70px;
    align-items: flex-start;
    background-color: rgb(240, 235, 235);
}

@media screen and (max-width: 800px){
  .places__paragraph{
      padding: 55px 24px;
      align-items: center;
  }
}

@media screen and (max-width: 550px){
  .places__paragraph{
      padding: 40px 16px;
  }
}