.places__title{
    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;
    color: black;
    margin: 0;
}

@media screen and (max-width: 550px){
    .places__title{
        font-size: 28px;
    }
  }