.header {
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 45px 70px 85px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding-bottom: 70px;
  }
}
