.header__link {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-right: 35px;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  transition: opacity 0.4s;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s;
}

.header__link:hover::after {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .header__link {
    display: inline-block;
    margin: 0 0 30px;
    font-size: 18px;
    letter-spacing: 1px;
  }
}
