.intro{
    max-width: 1140px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 40px auto 130px auto;
}

@media screen and (max-width: 550px){
    .intro{
        grid-template-columns: minmax(320px, 1fr);
    }
  }